button {
    border: none;
    background-color: #CE4760;
    font-size: 24px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    transition: 1ms ease-in-out;
    background-color: #CE4760;
}

.equals {
    grid-column: 3 / 5;
    background-color: #f7de42;
    color: black;
    font-size: 3rem;
    font-weight: 100;
}

.equals:hover {
    transition: 1ms ease-in-out;
    background-color: #FCE762;
}